* {
    margin: 0;
    padding: 0;
    transition: all 0.3;
} 
.body{
    background-image: url("./img/background.png");
    text-align: center;
}
.tittle{
    margin-top: 5%;
    padding-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #F2F2F2;
}
/* pasos antes de las preguntas */
.noMostrar{
    display: none;
}
.containerIntroduccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle2{
    margin-top: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #F2F2F2;
}
.selectText{
    margin-top: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #F2F2F2;
    
}
.select{
    width: 50%;
    background: #FFFFFF;
    border: 3px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;

    color: rgba(96, 102, 208, 0.8);
}
.img-fluid{
    width: 40%;
}
/* Fin de la intro */
.container2{
    width: 55%;
    padding-bottom: 2%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 24px;
    border: 3px solid #F9A826;
    
}
.question{
    margin-left: 6%;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
    color: #2F527B;
    margin-bottom: 10%;
    padding-top: 3%;

}
.containerBtn{
    padding-left: 5.5%;
    padding-top: 2%;
}
.btn2{
    margin-bottom: 5%;
    margin: 8px;
    margin-left: 6%;
    width: 85%;
    height: 11%;
    display: flex;  
    align-items: center;
    flex-direction: row;
    padding-left: 3%;
    padding-top: 2%;
    
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: rgba(96, 102, 208, 0.8);
}
.btn2:hover{
    background: #F9A826;
    font-weight: 1000;
    font-size: 30px;
    color: white;
    transform: scale(1.1);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerText{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    
    color: #F2F2F2;
}
@media (max-width: 767px){
    .container2{
        width: 65%;
    }
    .select{
        font-size: 30px;
        width: 60%;
    }
    .img-fluid{
        width: 55%;
    }
}
@media (max-width: 573px){
    .tittle{
        margin-left: 5%;
    }
    .container2{
        width: 80%;
    }
    .select{
        font-size: 25px;
        width: 75%;
    }
    .img-fluid{
        width: 65%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}
 @media (max-width: 330px){
    .btn{
        font-size: 15px;
    }
    .btn2{
        font-size: 15px;
    }
    .select{
        font-size: 18px;
        width: 75%;
    }
    .img-fluid{
        width: 80%;
    }
} 